/*Formato e bordas do menu*/
#menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

#menu ul li { 
    display: inline; 
}

/*Design do menu*/
#menu ul li a {
    padding right: 10px;
    margin-left: 5x;
    margin-right: 5px;
    padding: 20px 50px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    
    transition: background-color 1s , color 1s , border-bottom 1s; 
    transition-timing-function: ease-out;
}

/*Açao para quando passar em cima*/
#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

/* CSS reset */
*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
}

h1{
    font-size: 48px;
    color: #066a75;
    padding: 2px 0 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}
/*cabeçalho dos formulários atacando o ( h1 ).*/

h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}
/*cria uma barra abaixo do texto do cabeçalho separando do conteúdo.*/

p{
    margin-bottom:15px;
}
 
 
label{
    margin-left: 20px;
    color: #405c60;
    position: relative;
}
/*estilos nas classes acima para */

/* placeholder */
::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
}
 
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: #bebcbc;
    font-style: italic;
}

input {
    outline: none;
    margin-left: 20px;
}
 
/*estilo dos input,  menos o checkbox */
input:not([type="checkbox"]){
    width: 60%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;

    -webkit-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

input[type=checkbox], input[type=radio] {
    margin-left: 20px;
}

textarea{
    padding: 10px; 
    margin-left: 20px;
    border: 1px solid #b2b2b2;

    -webkit-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/*estilo do botão submit */
input[type="submit"]{
    width: 30%!important;
    cursor: pointer;  
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff;   
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    margin-left: 430px;

    -webkit-border-radius: 5px;
    border-radius: 5px; 
    
    transition: all 0.2s linear;
}

/*estilo do botão submit no hover */
input[type="submit"]:hover{
    background: #4ab3c6;
}

/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
  0% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateX(0);
  }
}
 
@keyframes fadeInLeft {
  0% {
      opacity: 0;
      transform: translateX(-20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

/*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
  0% {
      opacity: 1;
      -webkit-transform: translateX(0);
  }
  100% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
  }
}
 
@keyframes fadeOutLeft {
  0% {
      opacity: 1;
      transform: translateX(0);
  }
  100% {
      opacity: 0;
      transform: translateX(-20px);
  }
}
/*Acima criamos nossos dois ( keyframes ), que daram os efeitos nas trocas dos formulários.*/
