<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Pagina Inicial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="_fontes/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="_fontes/font-awesome-4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/CriarNoticia.css" />
</head>

<body>
    <nav id="menu">
        <ul>
            <li><a href="Pag-Inicial.html"> Home</a></li>
            <li><a href="#"> Esportes</a></li>
            <li><a href="#"> Gerais</a></li>
            <li><a href="#"> Tecnologia</a></li>
            <li><a href="#"> Mais Lidas</a></li> 
        </ul>
    </nav>
    
    <div id="noticia">
        <form method="post" action=""> 
          <h1>Nova Noticia</h1><br> 
           
          <p> 
            <label for="titulo_noticia">Titulo da noticia</label><br>
            <input id="titulo_noticia" name="titulo_noticia" required="required" type="text" placeholder="Titulo da Noticia" />
          </p><br>
           
          <p> 
            <label for="categoria">Selecione a categoria da noticia</label><br>
            <input type="checkbox" name="esporte" value="Esporte"> Esporte<br>
            <input type="checkbox" name="politica" value="Esporte"> Gerais<br>
            <input type="checkbox" name="tecnologia" value="Esporte"> Tecnologia<br>
            <input type="checkbox" name="games" value="Esporte"> Games<br>
          </p><br>
           
          <p> 
            <label for="descricao">Descrição da noticia</label><br>
            <textarea rows="10" cols="110" maxlength="999" placeholder="Conteudo da sua noticia" required="required"></textarea>
          </p><br>
            
          <p> 
            <label for="tags">TAGS</label><br>
            <textarea rows="10" cols="70" maxlength="999" placeholder="Digite as tags relacinadas a sua noticia" required="required"></textarea>          
          </p><br>
          <p>
            
          <p> 
            <label for="autor">Biografia do autor</label><br>
            <textarea rows="10" cols="70" maxlength="999" placeholder="Diga sobre sua biografia" required="required"></textarea>          
          </p><br>
          <p> 
            <input type="submit" value="Enviar Noticia"/> 
          </p>
        </form>
    </div>
</body>   
    
</html>