<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Pagina Inicial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/Pag-Inicial.css" />
</head>

<body>
    <nav id="menu">
        <ul>
            <li><a href="#"> Esportes</a></li>
            <li><a href="#"> Gerais</a></li>
            <li><a href="#"> Tecnologia</a></li>
            <li><a href="#"> Mais Lidas</a></li>
            <li id="esq"><a href="CriarNoticia.html"> Criar Noticia</a></li> 
        </ul>
    </nav>
</body>   
    
</html>