<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8"/>
   <meta name="viewport" content="width=device-width, user-scalable=no"/>
   <link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"
     rel="stylesheet"/>
   <link href="/css/style.css" rel="stylesheet"/>
   <link href="css/Pag-Inicial.css" rel="stylesheet"/>
   
</head>

<body>
    <nav id="menu">
        <ul>
            <li><a href="#"> Esportes</a></li>
            <li><a href="#"> Gerais</a></li>
            <li><a href="#"> Tecnologia</a></li>
            <li><a href="#"> Mais Lidas</a></li>
            <li><div id="divBusca">
                    <input type="text" id="txtBusca" placeholder="Buscar..."/>
                    <img src="imagens/oie_transparent.png" id="btnBusca" alt="Buscar"/>
                </div>
            </li>
            <li id="esq"><a href="/noticia/nova"> Criar Noticia</a></li> 
        </ul>
    </nav>
</body>   
    
</html>